<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ibraev store</title>
  <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />


</head>

<body>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}

  <center>
    <h2 class='alert alert-success'>Оставьте нам свои контактные данные, мы с вами свяжемся !</h2>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Отправить" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>
  {% include "ecom/footer.html" %}
</body>

</html>
